<article class="container">
    {{#each this.model as |main|}}
        <div class="restaurant">
            <h3>{{main.title}}</h3>
            <div class="address">
                <span>Adres:</span> {{main.address}}
            </div>
            <div class="hours">
                <span>Godziny otwarcia:</span> {{main.hours}}
            </div>
            <div class="phone">
                <span>Telefon:</span> {{main.phone}}
            </div>
        <button class="button-link">
            <a href={{main.link}}>Przejdź by zarządzać</a>
        </button>
        </div>
        
 
    {{/each}}

 </article>